*{
    box-sizing: border-box;
}

#imgmulti{
	height: 50px;
	width: 100px;
	border: 0;
	padding-right: 5px;
}
#menucolor{
	background-color: #5f5e5e;
	color: white;
	font-size: 14px;
	
}
#menucolor a{
	color: white;
}

.imgsize{
	height: 10px;
	width: 10px;
}
.textomay{
	text-transform:uppercase;
}